<h2 style=" 
       margin: auto;
       width: fit-content;
       padding: 10px;
       margin-top: 20px;
       color: white;
       background: #d65da8;
       font-size: 18px;
"> [ POSTS ] </h2>

{{#each posts}}
    <h3 style="
       margin: auto;
       padding: 10px;
       margin-top: 40px;
       color: #d65da8;
       border: 3px solid #d65da8;
       font-size: 18px;
    "
    >{{title.rendered}}</h3>
    <h4 style="
    margin: auto;
       padding: 8px;
       margin-top: 10px;
       margin-bottom: 10px;
       color: #d65da8;
       border: 3px solid #d65da8;
       font-size: 13px;
    "
    >{{{content.rendered}}}</h4>
{{/each}}

{{#if pageMinus}}

<a href="/posts?page={{prevPageNumber}}"><button style=" background-color: #d65da8;
          border: none;
          color: white;
          padding: 5px;
          text-align: center;
          font-size: 10px;
          margin: 4px 2px;
          cursor: pointer;">
                PREVIOUS PAGE
            </button></a>
{{/if}}

[ {{page}} ]

{{#if pagePlus}}
<a href="/posts?page={{nextPageNumber}}"><button style=" background-color: #d65da8;
          border: none;
          color: white;
          padding: 5px;
          text-align: center;
          font-size: 10px;
          margin: 4px 2px;
          cursor: pointer;">
                NEXT PAGE
            </button></a>
{{/if}}