<h2 style=" 
       margin: auto;
       width: fit-content;
       padding: 10px;
       margin-top: 20px;
       color: white;
       background: #d65da8;
       font-size: 18px;
"> [ POSTS ] </h2>

{{#each posts}}
    <h3 style="
       margin: auto;
       width: fit-content;
       padding: 10px;
       margin-top: 40px;
       color: #d65da8;
       border: 3px solid #d65da8;
       font-size: 18px;
    "
    >{{title.rendered}}</h3>
    <h4 style="
    margin: auto;
       width: fit-content;
       padding: 10px;
       margin-top: 40px;
       color: #d65da8;
       border: 3px solid #d65da8;
       font-size: 13px;
    "
    >{{{content.rendered}}}</h4>
{{/each}}

{{#if pageMinus}}
<a href="/posts?page={{prevPageNumber}}"> PREVIOUS PAGE </a>
{{/if}}
( {{page}} )
{{#if pagePlus}}
<a href="/posts?page={{nextPageNumber}}"> NEXT PAGE </a>
{{/if}}